<form method="POST" action="/dislike">
    <!-- <input type="hidden" name="ID" value="<%= //data[i]._id %>"> -->
    <input type="hidden" name="ID" />
    <input type="submit" value="Like" />
</form>
