<meta charset="UTF-8" />
<meta
    name="author"
    content="Bas Vugts, Djescho Mananga, Jody Lorist & Sophie van der Burg"
/>
<meta name="description" content="Project tech team Matching app" />
<meta name="keywords" content="NodeJS, Express, MongoDB, EJS" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="../css/default.css" rel="stylesheet" type="text/css">
<link href="../css/nav.css" rel="stylesheet" type="text/css" />



</head>
<title><%- title %></title>
