<form method="POST" action="/like">
    <!-- <input type="hidden" name="ID" value="<%= //data[i]._id %>"> -->
    <input type="hidden" name="id" value="" />
    <!-- Binnen in de value van de input met name hidden met het ._id van de gebruiker uit de DB komen te staan-->
    <input type="submit" value="Like" />
</form>
