<form method="POST" action="/login">
    <label>Username</label>
    <input type="text" name="Username" />
    <label>Password</label>
    <input type="password" name="Password" />
    <input type="submit" value="log in" />
</form>
