<nav>
    <ul>
        <li>
            <a aria-label="go to saved matches page" href="/savedmatches">
                <img src="/images/icon_saved_matches.png" />
                <p>Matches</p>
            </a>
        </li>
        <li>
            <a aria-label="go to find matches page" href="/findmatches">
                <img src="/images/icon_find_matches.png" />
                <p>Find matches</p>
            </a>
        </li>

        <li>
            <a aria-label="go to profile page" href="/profile">
                <img src="/images/icon_profile.png" />
                <p>Profile</p>
            </a>
        </li>
    </ul>
</nav>
