<nav>
    <ul>
        <li>
            <a aria-label="go to .... page" href="#">
                <img src="../img/" />
                <p>saved macthes</p>
            </a>
        </li>
        <li>
            <a aria-label="go to ..... page" href="#">
                <img src="../img/" />
                <p>overview</p>
            </a>
        </li>

        <li>
            <a aria-label="go to ..... page" href="#">
                <img src="../img/" />
                <p>profile</p>
            </a>
        </li>
    </ul>
</nav>
