<nav>
    <ul>
        <li>
            <a aria-label="go to .... page" href="#">
                <img src="../img/" />
                <span>page name</span></a
            >
        </li>
        <li>
            <a aria-label="go to ..... page" href="#">
                <img src="../img/" />
                <span>page name</span></a
            >
        </li>

        <li>
            <a aria-label="go to ..... page" href="#">
                <img src="../img/" />
                <span>page name</span></a
            >
        </li>
        <li>
            <a aria-label="go to .... page" href="#">
                <img src="../img/" />
                <span>page name</span></a
            >
        </li>
    </ul>
</nav>
