  <!DOCTYPE html>
  <head>
  <%- include('partials/head') %>
  </head>
<body>
    <header>
  <%- include('partials/nav') %>
  </header>
    <main>
      Content here
    </main>
    <%- include('partials/footer') %>
</body>
</html>