*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Helvetica;
}

main {
    position: relative;
}
main form {
    padding: 0 2em;
}
main label {
    display: block;
    margin-top: 1.5em;
    margin-bottom: 0.4em;
    font-style: normal;
    font-size: 1em;
}
main input {
    border-width: 0 0 2px 0;
    border-color: #484692;
    border-radius: 5px;
    display: block;

    font-size: 0.95em;
    width:80%;
    outline: none;
    padding:  0.5em 1em;
    box-shadow: 0px 0px 6px lightgrey;
}
main input:focus {
    border: 3px solid #52c9c2;
}

main select {
    background-color: #ffffff;
    padding: 0.8em;
    border: 4px solid #484692;
    outline: none;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.1);
}

main input:first-of-type {
    margin-bottom: 1em;
}

main input[type='date'] {
    width: 14em;
}

main input[type='email'] {
    width: 18em;
}

main button[type='submit'] {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    margin: 3em 0;
    background-color: #484692;
    color: #ffffff;
    border-style: none;
    outline: none;
    border-radius: 50px;
    padding: 1em;
}

main input[type='password'] {
    margin-bottom: 1em;
    width: 20em;
}

main .container {
    display: flex;
    justify-content: space-between;
}
.checkboxContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main #matchGenderContainer {
    margin: 0 2em;
}

main #matchAgeContainer {
    margin: 0 1.6em;
    align-items: center;
}

main #matchAgeContainer label {
    margin: 0;
}

main .dynamicList {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1em;
}

main .dynamicList button {
    display: flex;
    outline: none;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    margin-left: 2em;
    border-style: none;
    border-radius: 5px;
    background-color: #484692;
    color: #ffffff;
}

main .dynamicList > input:first-of-type {
    width: 16em;
}

main ul:first-of-type {
    margin-top: 1em;
    display: flex;
    flex-wrap: nowrap;
    overflow-y: scroll;
    list-style: none;
    width: 100%;
}

main ul:last-of-type {
    margin-top: 1em;
    overflow-x: scroll;
    list-style: none;
    width: 100%;
}

main #musicContainer {
    flex-direction: column;
}

main .createdGenres {
    min-width: 25%;
    max-width: 30%;
    margin-right: 1em;
    text-align: center;
    background-color: #52c9c2;
    color: #ffffff;
    border: none;
    padding: 1em;
    display: block;
    text-transform: capitalize;
}

main .createdSongs {
    margin-bottom: 1em;
    width: 100%;
    text-align: center;
    background-color: #52c9c2;
    color: #ffffff;
    border: none;
    padding: 1em;
    display: block;
    text-transform: capitalize;
}
