/* css for saved_matches.ejs */
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Helvetica;
}


/* ----------------- main ----------------*/
main {
    position: relative;
    padding: 1.5em 0 1.5em 0;
  }
  
  /* all ul li's in the main*/
  main ul li {
    list-style-type: none;
  }
  
  /* list item of liked match */
  main > ul > li a {
    display: flex;
  
    width: 92%;
    box-shadow: 0 0 6px lightgrey;
    border-radius: 1em;
  
    padding: 1em;
    margin: 0 auto 1em auto;
    text-decoration: none;
    color: black;
  }
  
  /*profile picture*/
  main > ul > li a img {
    background-color: #52c9c2;
    width: 100px;
    height: 100px;
  }
  
  main ul li a div {
    width: 70%;
    margin-left: 0.5em;
  }
  
  /* list of genres*/
  main ul li a div ul {
    margin: 1em 0;
    display: flex;
    width: 100%;
    overflow: scroll;
  }
  
  main ul li a div ul li {
    margin: 0 0.25em;
    padding: 0.5em 1em;
    width: auto;
    white-space: nowrap;
    text-align: center;
  
    color: white;
    background-image: linear-gradient(to bottom right, #71ebe3, #52c9c2);
    border-radius: 1em;
  }
  
  main ul li {
    position: relative;
  }
  
  /*remove button*/
  main ul li form button.remove {
    color: #484692;
    text-decoration: underline;
    font-size: 1em;
  
    background-color: transparent;
    border: none;
  
    position: absolute;
    bottom: 0.5em;
    right: 2em;
  }
  
  /* p 'end of list'*/
  main > p {
    width: 100%;
    text-align: center;
  }