<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link href="../css/chat.css" rel="stylesheet" type="text/css" />
</head>
<body id="chatPage">
    <ul>
  
    
      
      <li>
        <a href="/chat/<%= chats[i].chatNumber %>"><%= otherUser %></a>
      </li>




      
</ul>
    
</body>
</html>