<!DOCTYPE html>
<head>
<%- include('../partials/head') %>
<%- include('../partials/nav') %>
</head>
<body>
  <header>
<%- include('../partials/nav') %>
</header>
  <main>
    <p>Find Match Page</p>
  </main>
  <%- include('../partials/footer') %>
</body>
</html>