<!DOCTYPE html>
<head>
<%- include('../partials/head') %>
<link href="../css/log_in.css" rel="stylesheet" type="text/css" />
</head>
<body id="login_page">
  <header>
    <h1>MusicMatch</h1>
</header>
  <main>
   <%- include('../partials/login_form') %>
  </main>
  <%- include('../partials/footer') %>
</body>
</html>